Provide pre-defined Content-Format constants

Per [RFC 7252 12.3.](https://tools.ietf.org/html/rfc7252#section-5.10.3):

> The Content-Format Option indicates the representation format of the message payload.  The representation format is given as a numeric Content-Format identifier that is defined in the "CoAP Content-Formats" registry (Section 12.3).

KoAP should provide constants for the media types listed in **Table 9: CoAP Content-Formats** (found in [section 12.3](https://tools.ietf.org/html/rfc7252#section-12.3)):

```
   +--------------------------+----------+----+------------------------+
   | Media type               | Encoding | ID | Reference              |
   +--------------------------+----------+----+------------------------+
   | text/plain;              | -        |  0 | [RFC2046] [RFC3676]    |
   | charset=utf-8            |          |    | [RFC5147]              |
   | application/link-format  | -        | 40 | [RFC6690]              |
   | application/xml          | -        | 41 | [RFC3023]              |
   | application/octet-stream | -        | 42 | [RFC2045] [RFC2046]    |
   | application/exi          | -        | 47 | [REC-exi-20140211]     |
   | application/json         | -        | 50 | [RFC7159]              |
   +--------------------------+----------+----+------------------------+
```

Additionally, media type `application/cbor` has an ID of `60` per [RFC 7049 7.4](https://tools.ietf.org/html/rfc7049#section-7.4).